<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Elte Orarend</title>
</head>
<body>
    <h1>Elte Orarend Login</h1>

    <h2 th:if="${loginFailed}">Invalid user data!</h2>
    <form action="#" th:action="@{/auth/login}" th:object="${user}" method="post">
        <div id="username">
            <label for="username">Username:</label>
            <input type="text" name="username" placeholder="username" th:field="*{username}" />
        </div>
        <div id="password">
            <label for="password">Password:</label>
            <input type="password" name="password" placeholder="password" th:field="*{password}" />
        </div>
        <input type="submit" value="Submit!" />
        <button type="reset">Cancel</button>
    </form>
    <a href="/auth/register">Register</a>
</body>
</html>