/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
  margin: 0;
  padding: 0;
}

.page-body {
  padding: 20px 70px 50px;
}

.full-width {
  width: 100%;
}
