<mat-toolbar id="top-menu" color="primary">
  <h1 class="mat-h1">Orarend Tervezo</h1>

  <div class="center">
    <a mat-button>Orarend</a>
    <a mat-button routerLink="/search">Kereső</a>
  </div>

  <div class="right-side" *ngIf="!isLoggedIn">
    <a mat-button routerLink="/login">Login</a>/
    <a mat-button routerLink="/register">Register</a>
  </div>
  <div class="right-side" *ngIf="isLoggedIn">
    <span>Hi, {{ authService.user.username }}</span>
    <a mat-button (click)="logout()">Logout</a>
  </div>
</mat-toolbar>
