<mat-toolbar id="top-menu" color="primary">
  <h1 class="mat-h1 brand" routerLink="/">Orarend Tervezo</h1>

  <div class="center">
    <span *ngIf="isLoggedIn">
      <a mat-button routerLink="/timetable">Órarend</a>
      <a mat-button routerLink="/search">Kurzus Kereső</a>
      <a mat-button routerLink="/users" *ngIf="isAdmin">Felhasználók</a>
    </span>
  </div>

  <div class="right-side" *ngIf="!isLoggedIn">
    <a mat-button routerLink="/login">Bejelentkezés</a> /
    <a mat-button routerLink="/register">Regisztráció</a>
  </div>
  <div class="right-side" *ngIf="isLoggedIn">
    <a mat-button (click)="logout()">{{ authService.user.username }} | Kijelentkezés</a>
  </div>
</mat-toolbar>
